.jumbotron{
	background-color: #EB6F0D;
}

 .navbar li a{
 	color:green;
 }

.navbar{
	background-color: #027B74;
	color:;
}

.ir-arriba {
	display:none;
	padding:23px;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:41px;
	right:9px;
	background-image: url("../img/arrow-up.png");
}

.tres{
	
}
.lead{
	font-size: 10px;
}
hr {
}

.primera{
-webkit-box-shadow: 9px 14px 22px 4px rgba(0,0,0,0.87);
-moz-box-shadow: 9px 14px 22px 4px rgba(0,0,0,0.87);
 box-shadow: 9px 14px 22px 4px rgba(0,0,0,0.87);
 margin:10px 10px 10px 10px;
 height: 250px;
 width: 250px;
}

.nada {
	margin:10px 10px 10px 10px;
	height: 250px;
	width: 1000px;
	border-radius:12px ;
}
.nada:hover{
	-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);

}	
.hola{
	margin:10px 10px 10px 10px;
	border-radius:12px ;

}
.hola1{

	color:white;
	text-align: center;
	
}

.hola:hover{
	-webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);

}

.banner{
	width: 100%;
	height: 10px ;
	text-shadow: rgba(0, 0, 0, 0.2) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
}

.logosena{
	position:relative;
	top:-9px;
}
.dos{
	width:300px ;
	height: 300px;
}

.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.img:hover {
    border: 1px solid #777;
}

.img img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}

.ccolor{

	background-color :#D3D0CD ;
}


 * {
  margin:0px;
 }
 
 html, body {
  height: 100%;
 }


 .wrapper {
  min-height: 100%;
  clear:both;
 }


 footer {
  background-color:#E66F14 ;
  position: relative;
  margin-top: 15px; /* ponga en negativo el alto de su pie de página para nuestro    ejemplo usamos 63, usted debe remplazarlo según su diseño   */
  height: 46px;
  clear:both;
  width:100%;

  }
